@charset "utf-8";

/* #back{
	float: right; 
	margin-right:10px;
	margin-left:10px;
} */

#backDiv{
    height: 30px;
    /* height: 40px; */
    
}

#caption{
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    width: 100px;
}

.logoDiv{
    cursor: pointer;
	float:left;
	display:inline;
	width:50px;
	
}

.caption{
	float:left;
	display:inline;
	width:200px;
	margin-left:20px;
}

#logout{
    height: 30px;
    width: 30px;
    /* margin-right: 20px; */
    float: right;
    background: url(img/logout.png) no-repeat;
    border: 0;
}

.space {
    width: 5px;
    height: 20px;
    display: block;
    float: right;
}

body #main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #414141;

}

/* .logoDiv{
	float:left;
	display:inline;
	width:50px;
	
}

#logo{
	margin-left:5px;
	margin-top:5px;
}

.caption{
	float:left;
	display:inline;
	width:200px;
	
	margin-left:20px;
} */
/* #caption {
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin: 0 0 .4em 0;
    font-family: Oswald,Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",Microsoft JhengHei,WenQuanYi Micro Hei,"Microsoft YaHei",sans-serif;
    font-size: 1.8rem;
    text-rendering: geometricPrecision;
    color: #414141;
    
} */

/* #caption {
    font-weight: bold;
    font-size: 30px;
    width: 300px;
} */



#logout{
    height: 30px;
    width: 30px;
    /* margin-right: 20px; */
    float: right;
    background: url(img/logout.png) no-repeat;
    border: 0;
}

.userProfile{
    display: block;
    float:right;
    /* margin-right: 20px; */
    width: auto;
    height: 20px;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: rgb(11, 9, 172);
}

.curProfile{
    float: right;
    width: auto;
    height: 30px;
    border-radius: 10px;
}

#main{
	width: 500px;
	
}

#content{
	
	width: 500px;
	
    margin:0 auto;
    margin-top: 20px;
	
	
}



label { 
	float: left; 
	width: 10em; 
	margin-right: 1em; 
	text-align: left; 
	margin-bottom:10px;
}

input, #starDiv, #commentDiv{
	margin-bottom:15px;
}

#imgPreview {
 width: 80px;
 height: 60px;
 position: absolute;
 left: 70px;
 top: 0px;
 

}

#editImage{
margin:0 auto;
display: block;
max-height:350px;
max-width:250px;
}

#image{
	margin:0 auto;
display: none;
}

header{
	height:80px;
}

#comment{
	
	height:150px;
	width:300px;
}

#submit{
	margin-top:20px;
	
}

#commentDiv{
	margin-top:20px;
}

.starScore span{
    float: left;
    width: 20px;
    height: 20px;
    background: url(../css/img/star-off.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: relative;
}

.starScore span.active, .starScore span.select{
    background: url(../css/img/star-on.png) no-repeat;
    background-size: 100%;
}

.createBack{
	display:inline-block;
	vertical-align:middle;
	line-height:30px;
	
}

#createTitle{
	display:inline-block;
	vertical-align:middle;
	line-height:30px;
	margin-left:50px;
}
