.Header{
    margin-bottom: 20px;
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
}

.recordList {
    position: relative;
    list-style: none;
    margin: 0 auto;
}
.recordItem{
    width:200px;
}

.recordList>li {
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    margin: 0 10px 20px 10px;
    border: 3px solid #414141;
    padding: 20px;
    list-style: none;



}
.recordImage{
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.clearfix:after {
    clear: both;
}

.clearfix:before {
    content: " ";
    display: table;
}
/* 
/* * {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/* .recordList {
    position: relative;
    list-style: none;
    margin: 0 auto;
    width: 1280px;
    opacity: 0;
    transition: opacity .4s;
} */