#main{
    margin:0 auto;
    width: 500px;
    height: 1200px;
    margin-left: auto;
    margin-right:auto;
}

 h2 p{
    text-align: center;
} 


body{
	width:500px;
	margin-top:50px;
	margin: 0 auto;
}



#title{
	width:500px;
	text-align:center;
	margin:0 auto;
	margin-top:50px;
}


form{
   /*  position: absolute;
    top: 40%;
    transform: translateY(-50%); */
    margin: 0 auto;
width:150px;
    
} 

#imgPreview {
    width: 80px;
    height: 60px;
    position: absolute;
    left: 70px;
    top: 0px;

    
}

#image{
	margin:0 auto;
display: none;
}

.inputBox {
    display: block;
    /* width: 100%; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}