@charset "utf-8";


.curProfile{
    float:left;
    width: auto;
    height: 30px;
    border-radius: 10px;
}

.curUserName{
	 float:left;
}

#back{
	float: right; 
	margin-right:10px;
	margin-left:10px;
}

#edit{
	float: right;
	margin-right:10px;
	margin-left:10px;
}

#delete{
	float: right; 
	margin-right:10px;
	margin-left:10px;
}



#content{
	
	margin: 0 auto;
	width: 500px;
	margin-top:100px;
	margin-bottom: 200px;
}

#location{
	margin-bottom:20px;
	border:1px solid #a5b6c8;
	background:#eef3f7;
}

#userInfo{
	height:80px;
	width:500px;
	
}

.curUserName{
	margin-left:20px;
}

.recordImage{
	
	width : 500px;
}

#image{
	width : 500px;
	border:1px solid #a5b6c8;
	background:#eef3f7;
	margin-top：10px;
}

#record{
	width:500px;
}



#comment{
	margin-top:30px;
	border:1px solid #a5b6c8;
	background:#eef3f7;
}

p{
	margin-top:10px;
	margin-left:10px;
	margin-bottom: 10px;
	margin-right:10px;
}

#re{
	float:left;
	margin-bottom:5px;
	margin-right:5px;
}

#starDiv{
	margin-bottom:10px;
	margin-top:10px;
	border:1px solid #a5b6c8;
	height:20px;
	background:#eef3f7;
}

.starScore span{
    float: left;
    width: 20px;
    height: 20px;
    background: url(../css/img/star-off.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: relative;
}

.starScore span.active, .starScore span.select{
    background: url(../css/img/star-on.png) no-repeat;
    background-size: 100%;
}