@charset "utf-8";



#main{
	width: 500px;
	
}

#content{
	
	width: 500px;
	
	margin:0 auto;
	
}

body{
	margin-top:100px;
}

label { 
	float: left; 
	width: 10em; 
	margin-right: 1em; 
	text-align: left; 
	margin-bottom:10px;
}

input, #starDiv, #commentDiv{
	margin-bottom:15px;
}

#imgPreview {
 width: 80px;
 height: 60px;
 position: absolute;
 left: 70px;
 top: 0px;
 

}
#image{
margin:0 auto;
 display: none;
}

#comment{
	
	height:150px;
	width:300px;
}

#submit{
	margin-top:20px;
	
}

#commentDiv{
	margin-top:20px;
}

.starScore span{
    float: left;
    width: 20px;
    height: 20px;
    background: url(./image/star-off.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: relative;
}

.starScore span.active, .starScore span.select{
    background: url(./image/star-on.png) no-repeat;
    background-size: 100%;
}



